{% load static %}<!DOCTYPE html>
<html>
  <head>
    <title>JEA :: Joint External API</title>
    <link rel="stylesheet" type="text/css" href="{% static "jea/assets/css/main.css" %}" />
  </head>
  <body>
    {% block "content" %}{% endblock %}
  </body>
</html>
